body {
  font-family: 'Raleway', sans-serif;
}

a.back-to-top {
	display: none;
	width: 60px;
	height: 60px;
	text-indent: -9999px;
	position: fixed;
	z-index: 999;
	right: 20px;
	bottom: 20px;
	background: chocolate url("up-arrow2.png") no-repeat center 43%;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}
a:hover.back-to-top {
	background-color: skyblue;
}

#navbar {
  width: 100%;
  text-align: center;
  background-color: chocolate;
}

#navbar a {
  color: black;
  float: none;
  display: inline-block;
  text-decoration: none;
  padding: 10px;

}

#navbar a:hover {
  color: yellowgreen;
}

#navbar a.active {
  color: skyblue;
}

.dropdown {
    position: relative;
    display: inline-block;
    background-color: chocolate;
    color: black;
}

.dropdown-content {
    float: left;
    color: black;
    display: none;
    position: absolute;
    background-color: chocolate;
    min-width: 160px;
    z-index: 1;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.header {
  padding: 5px;
  text-align: center;
  margin: auto;
}

.footer {
  background-color: chocolate;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
}

.textnone {
  color: inherit;
  text-decoration: none;
}

.textnone:hover {
  color: white;
  text-decoration: none;
}

.contactinfo {
  line-height: 5px;
  text-align: left;
}

/* Style all font awesome icons */
.fa {
  margin: 20px;
  padding: 20px;
  font-size: 30px;
  width: 15%;
  height: auto;
  text-align: center;
  text-decoration: none;
  border-radius: 20%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

/* Google */
.fa-google {
  background: #dd4b39;
  color: white;
}

.slideshow1 {
  width: 100%;
}

.carousel-caption > h3 {
  background-color: chocolate;
}

.banner {
  width: 100%;
  margin: auto;
}

.calendar {
  width: 100%;
  align: center;
}


.row1 > .column1 {
  padding: 0 8px;
}

.row1:after {
  content: "";
  display: table;
  clear: both;
}

.column1 {
  float: left;
  width: 25%;
}

.link1 {
  text-decoration: none;
  color: chocolate;
}

.link1:hover {
  color: skyblue;
}

.link1:visited {
  color: chocolate;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
}

.link2 {
  font-family: 'ABeeZee', sans-serif;
}
